body {
    background-color: #6c757d; /* galery and contact me background*/
    color: #dee2e6; /* galery and contact me text*/
}

.navbar {
    background-color: #495057;
    color:#dee2e6;
}

.navbar-brand {
    font-weight: bold;
    color: #dee2e6;
}

.navbar .navbar-toggler {
    background-color: #495057; /* Change to the desired color */
    border-color: #495057; /* Change to the desired color */
}

.navbar-nav .nav-link {
    font-weight: bold;
    color: #dee2e6; 
}

.navbar-brand:hover {
    cursor: pointer;
    color: #dee2e6; 
}

.handlee-regular {
    font-family: "Handlee", cursive;
    font-weight: 1000;
    font-style: normal;
    font-size: 48px;
    color: #212529;

    
  }  

.main-pic {
    background-image: url('/img/DSC_2248.jpg'); /* Placeholder image */
    background-size: cover;
    background-position: center;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: black;
    
}
.main-pic {
    background-image: url('/img/DSC_2248.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}

.main-pic:before {
    content: '';
    position: absolute;
    top: 30%; 
    left: 10%;
    width: 80%; 
    height: 40%; 
    background-color: rgba(255, 255, 255, 0.2); 
    backdrop-filter: blur(10px); 
    border-radius: 0px; 
    z-index: 1;
}

.container {
    position: relative;
    z-index: 2;
    color: black; 
    text-align: center;
}

.image-gallery {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;  
    flex-wrap: wrap;
    justify-content: center; /* Center horizontally */
    align-items: center;
    gap: 10px;
    list-style: none;
  }
  
  .image-gallery > li {
    height: 300px;
    cursor: pointer;
    position: relative;
  }
  
  .image-gallery li img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    border-radius: 5px;
  }

  
  /* Style the modal */
  .modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1000; /* Sit on top */
      padding-top: 20px; /* Location of the box */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      --bs-modal-bg: black;
      background-color: black; /* Black w/ opacity */
    }

/* Modal Content (image) */
.modal-content {
    max-width: 100%; /* Limit the maximum width of the modal content */
    max-height: 100%; /* Limit the maximum height of the modal content */
    position: relative;
    margin: auto;
    display: flex;
    justify-content: center; /* Center the image horizontally */
    align-items: center; /* Center the image vertically */
  }

  /* Modal Image */
.modal-img {
    max-width: 800px; /* Adjust this value for desired width */
    max-height: 650px; /* Ensure the image does not exceed the height of the modal */
    display: block;
    margin: auto;
    object-fit: contain;
  }

/* Close button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    z-index: 1001;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
  }
  
  .prev {
    left: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .next {
    right: 0;
    border-radius: 3px 3px 3px 3px;
  }


  .about-section {
    background-color: #495057; /* Light gray background */
    padding: 50px 0; /* Adjust padding as needed */
    text-align: center; /* Center-align the content */
}

.about-section .container {
    max-width: 800px; /* Set maximum width for content */
    margin: 0 auto; /* Center the container */
}

.about-section h2 {
    font-size: 36px; /* Adjust heading font size */
    color: #dee2e6; /* Heading color */
    margin-bottom: 20px; /* Adjust margin as needed */
}

.about-section p {
    font-size: 18px; /* Adjust paragraph font size */
    color: #dee2e6; /* Paragraph text color */
    margin-bottom: 30px; /* Adjust margin as needed */
}


.image-container {
    margin-top: 30px; /* Adjust margin as needed */

}

.about-img {
    width: 100%; /* Ensure the image fills the container */
    height: 100%; /* Ensure the image fills the container */
    object-fit: cover; /* Crop the image to cover the container */
}

/* Contact Section */
.social-icons {
    display: flex;
    justify-content: center; /* Center the icons horizontally */
    margin-top: 20px; /* Add some top margin */

}

/* Style the individual icons */
.social-icons a {
    margin: 0 10px; /* Add spacing between icons */
    color: #dee2e6; /* Set icon color */
    font-size: 28px; /* Set icon size */
    transition: color 0.3s ease; /* Smooth color transition on hover */
}


/* Hover effect on icons */
.social-icons a:hover .bi-facebook {
    color: #3b5998; /* Facebook color on hover */
}

.social-icons a:hover .bi-instagram {
    color: #e4405f; /* Instagram color on hover */
}

.social-icons a:hover .bi-twitter {
    color: #1da1f2; /* Twitter color on hover */
}

.social-icons a:hover .bi-youtube {
    color: #ff0000; /* YouTube color on hover */
}